@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-subtle-pulse {
    animation: subtlePulse 10s ease-in-out infinite;
  }

  .animate-slow-wave {
    animation: slowWave 15s ease-in-out infinite;
  }

  .animate-pulse-on-hover:hover {
    animation: pulseIcon 1.5s ease-in-out infinite;
  }
}

@keyframes subtlePulse {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
}

@keyframes slowWave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes pulseIcon {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* about page style components */
@keyframes pulse-subtle {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}
.animate-pulse-subtle {
  animation: pulse-subtle 3s infinite ease-in-out;
}
@keyframes slow-wave {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
.animate-slow-wave {
  animation: slow-wave 15s infinite alternate linear;
}
